@using Sandy.Core.Entities

@model IEnumerable<RecruiterProfile>

@{
    ViewData["Title"] = "Recruiter";
}


<div class="card-footer">
    <a class="btn btn-primary default-button-size" asp-action="SendRecruiterEmail">Send Email</a>
    <a class="btn btn-primary" asp-action="BroadcastEmail">Broadcast Email</a>
    <a class="btn btn-primary default-button-size fa-pull-right" asp-action="AddRecruiterDetail">Add Recruiter</a>
</div>
<hr />
<table id="tblcompanyProfile" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>Email ID</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RecruiterProfile recruiterProfile in Model)
        {
            <tr>
                <td>@recruiterProfile.ID</td>
                <td>@recruiterProfile.FirstName</td>
                <td>@recruiterProfile.LastName</td>
                <td>@recruiterProfile.MobileNumber</td>
                <td>@recruiterProfile.EmailID</td>
                <td>@recruiterProfile.CompanyProfile.Name</td>
            </tr>
        }

    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblcompanyProfile').DataTable({
                paging: true,
            });
        });
    </script>
}


